<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Web App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2>User Form</h2>

    <form method="POST">
        <label for="table">Select table:</label>
        <select name="table" id="table">
            {% for t in tables %}
                <option value="{{ t.table_name }}">
                    {% if t.table_name == selected_table %}{% endif %}
                    {{ t.table_name }}
                </option>
            {% endfor %}
        </select>
        <input type="text" name="username" placeholder="Username">
        <input type="number" name="age" placeholder="Age">
        <button type="submit" name="action" value="adduser">Add</button>
        <button type="submit" name="action" value="showusers">Show Users</button>
        <button type="submit" name="action" value="delete">Delete Users</button>
        <button type="submit" name="action" value="deletetable">Delete Table</button>

    </form>
    
    {% if show_results %}
    <h3>Query Result</h3>
    <ul style="list-style-type: none; padding: 0; text-align: center;">
        {% for d in data %}
        <li style="margin: 5px 0;">
            {{ d.username }} - {{ d.age }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
